{
  "signing": {
    "profiles": {
      "server": {
        "expiry": "{{ certificates.expiry*365*24 }}h",
        "usages": [
          "signing",
          "key encipherment",
          "server auth"
        ]
      },
      "client": {
        "expiry": "{{ certificates.expiry*365*24 }}h",
        "usages": [
          "signing",
          "key encipherment",
          "client auth"
        ]
      },
      "peer": {
        "expiry": "{{ certificates.expiry*365*24 }}h",
        "usages": [
          "signing",
          "key encipherment",
          "server auth",
          "client auth"
        ]
      }
    }
  }
}