{
    "CN": "etcd-ca",
    "key": {
        "algo": "rsa",
        "size": 4096
    },
    "ca": {
        "expiry": "{{ cert_expiry*365*24 }}h"
    },
    "names": [{
	    "C": "CN",
	    "ST": "Shenzhen",
	    "L": "Shenzhen",
	    "O": "Inc.",
	    "OU": "Etcd CA"
    }]
}