{
  "signing": {
    "default": {
      "expiry": "{{ cert_expiry*365*24 }}h"
    },
    "profiles": {
      "client": {
        "expiry": "{{ cert_expiry*365*24 }}h",
        "usages": [
          "signing",
          "key encipherment",
          "client auth"
        ]
      }
    }
  }
}