KUBELET_EXTRA_ARGS=--node-ip={{  ansible_host }} --logtostderr=false --log-dir=/var/log/kubernetes/kubelet --v={{  kubernetes.loglevel }} {% if 'containerd' == cri %} --container-runtime=remote --container-runtime-endpoint=unix:///run/containerd/containerd.sock {% endif %}{% if 'cri-o' == cri %} --container-runtime=remote --container-runtime-endpoint=unix:///run/crio/crio.sock {% endif %}{% if ( 'docker' == cri ) and ( KUBE_VER|float >=1.24 )  %} --container-runtime=remote --container-runtime-endpoint=unix:///run/cri-dockerd.sock {% endif %}