[Unit]
Description=etcd key-value store
Documentation=https://github.com/etcd-io/etcd
After=network-online.target local-fs.target remote-fs.target time-sync.target
Wants=network-online.target local-fs.target remote-fs.target time-sync.target

[Service]
Type=notify
ExecStart={{ bindest }}/etcd --config-file /etc/etcd/etcd.conf.yml
Restart=always
StartLimitInterval=0
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target