name: '{{ inventory_hostname }}'
data-dir: {{ etcd.data_dir }}
wal-dir:
snapshot-count: 10000
heartbeat-interval: 100
election-timeout: 1000
quota-backend-bytes: 0
listen-peer-urls: https://{{ ansible_host }}:2380
listen-client-urls: https://{{ ansible_host }}:2379,https://127.0.0.1:2379
max-snapshots: 5
max-wals: 5
cors:
initial-advertise-peer-urls: https://{{ ansible_host }}:2380
advertise-client-urls: https://{{ ansible_host }}:2379
discovery:
discovery-fallback: 'proxy'
discovery-proxy:
discovery-srv:
initial-cluster: {% for item in groups['etcd'] %}{{ hostvars[item].inventory_hostname }}=https://{{ hostvars[item].ansible_host }}:2380{{ "," if not loop.last else ""}}{% endfor %}

initial-cluster-token: 'etcd-cluster'
initial-cluster-state: 'new'
strict-reconfig-check: false
enable-pprof: true
proxy: 'off'
proxy-failure-wait: 5000
proxy-refresh-interval: 30000
proxy-dial-timeout: 1000
proxy-write-timeout: 5000
proxy-read-timeout: 0
client-transport-security:
  cert-file: /etc/kubernetes/pki/etcd/server.crt
  key-file: /etc/kubernetes/pki/etcd/server.key
  client-cert-auth: true
  trusted-ca-file: /etc/kubernetes/pki/etcd/ca.crt
  auto-tls: false
peer-transport-security:
  cert-file: /etc/kubernetes/pki/etcd/peer.crt
  key-file: /etc/kubernetes/pki/etcd/peer.key
  client-cert-auth: true
  trusted-ca-file: /etc/kubernetes/pki/etcd/ca.crt
  auto-tls: false
self-signed-cert-validity: 1
log-level: info
logger: zap
log-outputs: [stderr]
force-new-cluster: false
auto-compaction-mode: periodic
auto-compaction-retention: "1"
