[Unit]
Description=traefik
Documentation=traefik.io
After=network.target
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ bindest }}/traefik --configFile=/etc/traefik/traefik.toml
Restart=always
StartLimitInterval=0
RestartSec=10s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target